@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply font-sans antialiased;
  @apply bg-gray-50 dark:bg-gray-900;
  @apply text-gray-900 dark:text-gray-50;
}

@layer components {
  .dark{
    @apply bg-gray-900 text-zinc-50;
  }
}

/* Custom Scrollbar */
*{
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #fb242b #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fb242b;
  border-radius: 15px;
  border: 3px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(251, 36, 43, 0.5);
}

nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
}

nav .logo img {
  width: 2rem;
  margin-right: 0.5rem;
}

nav .logo span {
  color: #fb242b;
}

/* Splice Arrow Custom Classes*/
.splide__arrow--prev {
  @apply bg-indigo-300 text-indigo-700;
}

.splide__arrow--next {
  @apply bg-indigo-300 text-indigo-700;
}

.splide__arrow {
  @apply rounded-full;
}

.splide__pagination__page {
  @apply rounded-full;
}

.splide__pagination__page.is-active {
  @apply bg-indigo-300;
}

.splide__pagination__page:not(.is-active) {
  @apply bg-indigo-100;
}


/* Button Styles */
.btn-blue {
  @apply flex items-center gap-2 text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300 border border-blue-200 dark:border-blue-700 rounded-md px-4 py-2 transition duration-300 ease-in-out hover:bg-blue-100 dark:hover:bg-blue-900;
}

.btn-blue:disabled, .btn-secondary:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.btn-blue svg {
  @apply text-rose-500;
}

.btn-red{
  @apply flex items-center gap-2 text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300 border border-red-200 dark:border-red-700 rounded-md px-4 py-2 transition duration-300 ease-in-out hover:bg-red-100 dark:hover:bg-red-900
}

.btn-red:active, .btn-blue:active, .btn-secondary:active {
  @apply shadow-none translate-y-[2px];
}

.btn-red:focus, .btn-blue:focus, .btn-secondary:focus {
  @apply outline-none ring-1 ring-offset-1 ring-offset-white ring-red-200;
}

.btn-secondary{
  @apply underline text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300 transition duration-300 ease-in-out;
}

/* Input Styles */

.input-search {
  @apply border border-blue-500 py-1.5 px-4 rounded-full outline-none focus:ring-2 focus:ring-blue-500 w-full transition duration-200 ease-in-out; 
}

.input-search {
  background-image: url("https://img.icons8.com/ios-filled/50/000000/search--v1.png");
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 1.5rem;
  padding-left: 3rem;
}

/* Genres Scrollbar invisible*/
section#genres{
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

section#genres::-webkit-scrollbar {
  display: none;
}

section#genres::-webkit-scrollbar-track {
  width: 0px;
}

section#genres::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
  border: 3px solid transparent;
}
